body {
    background: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(https://assets.nflxext.com/ffe/siteui/vlv3/530fc327-2ddb-4038-a3f0-2da2d9ccede1/9c547c8a-e707-4bdb-bdbc-843f134dd2a6/IN-en-20230619-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

#email-place {
    margin: 15px 0 0 0;
    height: 44px;
    width: 250.75px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
    border: .2px solid #808080;
    transition-duration: 250ms;
}

#email-place::placeholder {
    transform: translateX(15px);
    color: #D3D3D3;
    transition-duration: 250ms;
   
    
}

#email-place:focus::placeholder {
    font-size: 10px;
    transform: translateY(-15px);
   
}


.nav {
    display: flex;

    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 90px;


}

#logo {
    width: 110px;
    cursor: pointer;
}

.content {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 90%;
    height: 15px;

    align-items: center;

}

.ct {
    width: 100%;
    height: 450px;
    display: flex;
    direction: column;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
}

.mtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 370px;
    border: 1px solid white;
    transform: translateY(-60px);
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

#unl {


    font-size: 42px;
    font-weight: 900;
    text-decoration: none solid rgb(255, 255, 255);

    word-spacing: 0px;
}

#watch {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none solid rgb(255, 255, 255);
    margin: 16px 0 0 0;
}

#ready {
    font-size: 16px;

    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    margin: 16px 0 0 0;
    font-weight: 100;
}

.buttons {
    transform: translateY(-2px);
}

#Language {
    height: 30px;
    width: 110.4px;
    font-size: 16px;
    font-weight: 550;
    font-style: bold;
    background-color: transparent;
    color: white;
    border: 1px solid #808080;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#Language:hover {
    border: 1px solid white;
}

#log {
    height: 30px;
    width: 70.9px;
    font-size: 14px;
    font-weight: 700;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 24px;
    border-style: none;

}

#dpd {
    margin-left: 20px;
    width: 12px;
    height: 12spx;
}